# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Streamlit
## (We generally don't ignore .streamlit/config.toml, because we want our theme to upload!)
## But we do ignore cached items
.streamlit/*.json
